@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* ============== UNIVERSAL ================= */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}


header {
  background-color: rgba(255, 252, 236, 0.3);
}


div #layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(rgb(245, 241, 226), rgb(231, 180, 167))
}

#layout header{
  /* background-color: rgba(0,0,0, 1) ; */
  height: 100vh;
  width: 250px;
}

#layout footer{
  background-color: rgba(255, 252, 236, 0.3);
  height: 100vh;
  width: 240px;
}

#layout nav {
  display: flex;
  flex-direction: column;
}

#layout a {
  text-decoration: none;
  color: white;
}



.greeting {
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 280px;
}

footer p {
  color: white;
}

footer h3 {
  color: white;
}

div.overflow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow:scroll;
  height: 300px;
  width: 100%;
}
