@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ============== UNIVERSAL ================= */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

header {
  background-color: rgba(255, 252, 236, 0.3);
}

div #layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(rgb(245, 241, 226), rgb(231, 180, 167))
}

#layout header {
  /* background-color: rgba(0,0,0, 1) ; */
  height: 100vh;
  width: 250px;
}

#layout footer {
  background-color: rgba(255, 252, 236, 0.3);
  height: 100vh;
  width: 240px;
}

#layout nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

#layout a {
  text-decoration: none;
  color: white;
}

footer p {
  color: white;
}

footer h3 {
  color: white;
}

div.overflow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow:scroll;
  width: 100%;
  row-gap: 15px;
}

div.main-container {
  overflow: scroll;
  height: 100vh;
  width: 63%;
  box-sizing: border-box;
}

img {
  width: 250px;
  border-radius: 8px;
}

img.thumbnail {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 3px;
}


/* ========= Responsive Layout ============= */

@media  screen and (max-width: 1150px) {

  div.main-container {
    width: 100%;
  }

}

@media  screen and (max-width: 900px) {

div.overflow {
  display: none;
}

#layout header {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  height: fit-content;
  width: 100vw;
}

#layout nav.nav-bar {
  flex-direction: row;
  height: fit-content;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 240, 236, 0.8);
  padding: 10px 8px;
  justify-content: space-between;
}

a.nav {
  width: max-content;
}

.nav p {
  width: fit-content;
}

hr.solid {
  display: none;
}


}

@media  screen and (max-width: 450px) {

  footer h3 {
    color: red;
  }
}

/* iPhone 5/SE */
@media  screen and (max-width: 325px) {

  footer h3 {
    color: purple;
  }
}
