@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* ============== UNIVERSAL ================= */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}


header {
  background-color: rgba(255, 252, 236, 0.3);
}


div #layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(rgb(245, 241, 226), rgb(231, 180, 167))
}

#layout header{
  /* background-color: rgba(0,0,0, 1) ; */
  height: 100vh;
  width: 250px;
}

#layout footer{
  background-color: rgba(255, 252, 236, 0.3);
  height: 100vh;
  width: 240px;
}

#layout nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

#layout a {
  text-decoration: none;
  color: white;
}



.greeting {
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 280px;
}

footer p {
  color: white;
}

footer h3 {
  color: white;
}

div.overflow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow:scroll;
  width: 100%;
  row-gap: 15px;
}

div.main-container {
  overflow: scroll;
  height: 100vh;
  width: 63%;
}

img {
  width: 250px;
  border-radius: 8px;
}


img.thumbnail {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 3px;
}

h2.greeting {
  color: black;
  position: sticky;
  top: 0;
  left: 0;
  text-align: left;
  background-color: rgba(245, 241, 226, .5);
  margin: 0;
  height: 60px;
}

div.user {
  width: fit-content;
  height: min-content;
  background-color: rgba(0,0,0,.8);
  border-radius: 50px;
  padding: 3px;
  display: flex;
}

img.user {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

p#user {
  color: white;
}