div #layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#layout nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

#layout hr.solid {
    border: none;
    background-color: rgba(0, 0, 0, 0.397);
    height: 1px;
    width: 100%;
}

#layout a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
    margin: 8px;
}

.greeting {
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 280px;
    color: rgba(0, 0, 0, 0.747);
}

#layout p {
    color: black;
    margin: 8px;
}

#layout footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}
