div #layout {
    background-image: url('../assets/images/Rectangle.png');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#layout header{
    background-color: rgba(255,245,238, 0.3) ;
    height: 100vh;
    width: 240px;
}

#layout footer{
    background-color: rgba(255,245,238, 0.3) ;
    height: 100vh;
    width: 240px;
}

#layout nav {
    display: flex;
    flex-direction: column;
}

#layout a {
    text-decoration: none;
}

.greeting {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 280px;
}

