div #layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#layout nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

#layout hr.solid {
    border: none;
    background-color: rgba(0, 0, 0, 0.397);
    height: 1px;
    width: 100%;
}

#layout a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);

}

#layout p {
    color: black;
    margin: 8px;
}

#layout footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    height: 100vh;
    box-sizing: border-box;
}

/* left nav icons */
img.icon {
    width: 25px;
    height: 25px;
    align-self: center;
    margin-bottom: 2px;
}

a.nav {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.overflow a {
    white-space: nowrap;
    text-overflow: ellipsis;
}

h2.greeting {
    color: black;
}

div.user {
    width: fit-content;
    height: min-content;
    background-color: rgba(0,0,0,.8);
    border-radius: 50px;
    padding: 3px;
    display: flex;
    align-self: center;
}

img.user {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 2px;
}

button.log-out {
    margin: 1px;
}

p#user {
    color: white;
    margin-right: 25px;
}

div#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgba(255, 244, 231, 0.85) 65%, rgba(255,255,255,0));
    padding: 0 10px 20px 20px;
}

header.layout {
    background-color: rgba(255, 246, 234, 0.2);
}


@media screen and (max-width:1150px) {

    #layout footer {
        display:none;
    }

    div #layout {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}