.recipe-form {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: rgba(255, 251, 246, 0.233);
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    width: fit-content;
}

.recipe-form h3 {
    font-size: 30px;
    color: black;
    margin: 10px 0;
}

.recipe-form label {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.recipe-form input {
    border-radius: 8px;
    border-color: rgb(230, 215, 199);
    border-style: solid;
    border-width: 1px;
    height: 20px;
}

.recipe-form button {
    margin-top: 15px;
    border-radius: 10px;
    border-style: none;
    padding: 7px 15px;
    background-color: rgb(255, 245, 235);
}

.recipe-form-image-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.recipe-form-image-container img {
    height: 180px;
    overflow: hidden;
    margin-left: 20px;
}

.recipe-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

