div.discover-recipes {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    overflow: scroll;
    padding: 20px;
}

div.recipe-card {
    width: fit-content;
    height: 250px;
    background-color: rgba(255,255,255,.3);
    border-radius: 7px;
    padding: 15px;
    box-sizing: border-box;
}

.recipe-card img {
    height: 150px;
    object-fit: cover;
}

h4.home-highlight {
    font-size: 20px;
    color: black;
    text-align: left;
    padding-left: 22px;
    margin: 0;
}

.recipe-card h3 {
    margin: 0;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.recipe-card h4 {
    font-size: 13px;
    margin: 3px 0 18px 0;
}