

h4.detail {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

div.detail {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 30px;
}

div.sub-detail {
    padding: 5px 30px;
}

h5.detail {
    font-weight: lighter;
    font-size: 18px;
}

button.detail {
    background-color: rgba(0,0, 0,.8);
    color: white;
    border-radius: 25px;
    border-style: none;
    padding: 10px 20px;
    margin-right: 20px;
}

img.detail-image {
    object-fit: cover;
}

