.search-bar {
    border-radius: 50px;
    border-style: none;
    border-width: 1px;
    height: fit-content;
    width: 350px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.search input {
    border-style: none;
    font-size: 18px;
}

div.search {
    padding: 20px;
}

div.search-card {
    width: 230px;
    height: 295px;
    background-color: rgba(255,255,255,.3);
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.search-card-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.search-card h3 {
    font-size: 15px;
    margin-top: 3px;
}

.search-card h4 {
    font-size: 12px;
}

.search-card img {
    width: 185px;
    height: 200px;
    object-fit: cover;
}