.search-bar {
    border-radius: 50px;
    border-style: none;
    border-width: 1px;
    height: fit-content;
    width: 350px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.search input {
    border-style: none;
    font-size: 18px;
}

div.search {
    padding: 20px;
}

