div.column-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.recipe-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.recipe-link p {
    margin: 0;
    font-size: 14px;
}

p.first  {
    width: 30%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.center {
    width: 30%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipes-list h2 {
    color: black;
    text-align: left;
}


